.buttons-wrapper {
  display: flex;
  justify-content: center; 
  gap: 10px;
 
}
.buttons-wrapper button {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 150; /* Allow buttons to shrink beyond their initial width */
  max-width: 200px;
}
.send-button,
.del-button {
  background-color: #4caf50; 
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.del-button {
  background-color: #f44336; 
}
.del-from-order-button {
  background-color: #a5bdec; 
  width: 65px; 
  height: 30px;
  
}
.quantity-buttons-wrapper {
  display: flex;
  align-items: center;
}

.quantity-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button:hover {
  background-color: #eee;
}

.minus {
  background-color: #f00;
  color: #fff;
}

.plus {
  background-color: #0f0;
  color: #fff;
}