.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

body {
    background-color: bisque;
}

.add-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  .cart-button{
    /* background-color: rgb(68, 90, 198);
    color: white;
    padding: 10px 20px;
    border: black;
    border-radius: 5px;
    cursor: pointer; */
    
    background-color: bisque;

    width: 60px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('cart.png'); 

  }
  .button_empty{
  background-image: url('cart_empty.png'); 
  }
  .add-button_not_auth 
  {
    /* background-color: rgba(255, 255, 255, 0.416);
    color: black;
    padding: 10px 20px;
    border: black;
    border-radius: 5px;
    cursor: pointer; */
    background-color: bisque;
    
    width: 60px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    background-image: url('cart_empty.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
 
  }
  