.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
    gap : 6px;

}

body {
    background-color: bisque;
}

.add-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  .cart-button{
    
    
    background-color: bisque;

    width: 70px; 
    height: 70px; 
    
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url('cart.png'); 
    @media (max-width:480px) {
      width: 60px; 
    height: 60px; 
    }

  }
  .button_empty{
  background-image: url('cart_empty.png'); 
  }
  .add-button_not_auth 
  {

    background-color: bisque;
    
    width: 70px; 
    height: 70px; 
    background-image: url('cart_empty.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    @media (max-width:480px) {
      width: 60px; 
    height: 60px; 
    }
  }
  